<%= title_and_banner 'Brands' %>
<%= render 'nav' %>
<ul>
  <% @brands.each do |brand| %>
    <li><%= link_to brand.name, brand %> &mdash; <%= link_to brand.brewery_name, brand.brewery %></li>
  <% end %>
</ul>
